/* src/styles/_variables.scss */

$primary-color: #6caada;
$white-color: #ffffff;
$accent-color: #85161c;
$yellow-color: #e5bb2c;
$font-primary: "Nunito", sans-serif;
$font-secondary: "Outfit", sans-serif;

$transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
